body {
  background-color: #1e1e1e;
}

#code-area,
#hint-area,
#background {
  font-family: monospace;
  height: 89ch;
  top: 5ch;
  left: 2ch;
  resize: none;
  box-sizing: content-box;
  position: absolute;
  border: 0;
  tab-size: 4;
}

#background {
  width: 79ch;
  background-color: #252526;
}

#hint-area {
  width: 120ch;
  background-color: transparent;
  color: hotpink;
  pointer-events: none;
}

#code-area {
  width: 120ch;
  background-color: transparent;
  color: #dcdcdc;
}

#code-area:focus {
  outline: none;
}

#language {
  font-family: monospace;
  position: absolute;
  width: 14ch;
  top: 1ch;
  left: 2ch;
  background-color: #1e1e1e;
  color: #a9a9a9;
  border: none;
  outline: none;
}

#loading-bar {
  position: absolute;
  display: none;
  top: 1ch;
  left: 20ch;
}

#loading-progress {
  appearance: none;
  width: 20ch;
  height: 2ch;
}
